body {
    background-color: #00cc00;
    margin: 160px 100px 10px;
}

fieldset { 
    width: 450px;
    text-align: center;
    font-size: 23px;
}

legend {
    font-weight: bold;
    font-size: 28px; 
    margin-bottom: 4px; 
}

button {
    width: 120px;
    height: 35px;
    background-color: #b3ffb3;
    border-radius: 5px;
    font-size: 15px;
}